<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tv %><br>
    <%= f.check_box :tv %>
  </div>
  <div class="field">
    <%= f.label :laptop %><br>
    <%= f.check_box :laptop %>
  </div>
  <div class="field">
    <%= f.label :washingMachine %><br>
    <%= f.check_box :washingMachine %>
  </div>
  <div class="field">
    <%= f.label :refrigerator %><br>
    <%= f.check_box :refrigerator %>
  </div>
  <div class="field">
    <%= f.label :geyser %><br>
    <%= f.check_box :geyser %>
  </div>
  <div class="field">
    <%= f.label :ac %><br>
    <%= f.check_box :ac %>
  </div>
  <div class="field">
    <%= f.label :lights %><br>
    <%= f.check_box :lights %>
  </div>
  <div class="field">
    <%= f.label :invertor %><br>
    <%= f.check_box :invertor %>
  </div>
  <div class="field">
    <%= f.label :houseWiring %><br>
    <%= f.check_box :houseWiring %>
  </div>
  <div class="field">
    <%= f.label :shopkeeper_id %><br>
    <%= f.text_field :shopkeeper_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
