<p id="notice"><%= notice %></p>

<h1>Listing Repairs</h1>

<table>
  <thead>
    <tr>
      <th>Tv</th>
      <th>Laptop</th>
      <th>Washingmachine</th>
      <th>Refrigerator</th>
      <th>Geyser</th>
      <th>Ac</th>
      <th>Lights</th>
      <th>Invertor</th>
      <th>Housewiring</th>
      <th>Shopkeeper</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.tv %></td>
        <td><%= repair.laptop %></td>
        <td><%= repair.washingMachine %></td>
        <td><%= repair.refrigerator %></td>
        <td><%= repair.geyser %></td>
        <td><%= repair.ac %></td>
        <td><%= repair.lights %></td>
        <td><%= repair.invertor %></td>
        <td><%= repair.houseWiring %></td>
        <td><%= repair.shopkeeper %></td>
        <td><%= link_to 'Show', repair %></td>
        <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
        <td><%= link_to 'Destroy', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair', new_repair_path %>
