<p id="notice"><%= notice %></p>

<p>
  <strong>Tv:</strong>
  <%= @repair.tv %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= @repair.laptop %>
</p>

<p>
  <strong>Washingmachine:</strong>
  <%= @repair.washingMachine %>
</p>

<p>
  <strong>Refrigerator:</strong>
  <%= @repair.refrigerator %>
</p>

<p>
  <strong>Geyser:</strong>
  <%= @repair.geyser %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @repair.ac %>
</p>

<p>
  <strong>Lights:</strong>
  <%= @repair.lights %>
</p>

<p>
  <strong>Invertor:</strong>
  <%= @repair.invertor %>
</p>

<p>
  <strong>Housewiring:</strong>
  <%= @repair.houseWiring %>
</p>

<p>
  <strong>Shopkeeper:</strong>
  <%= @repair.shopkeeper %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
