<%= form_for(@shopkeeper) do |f| %>
  <% if @shopkeeper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopkeeper.errors.count, "error") %> prohibited this shopkeeper from being saved:</h2>

      <ul>
      <% @shopkeeper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shopName %><br>
    <%= f.text_field :shopName %>
  </div>
  <div class="field">
    <%= f.label :ownerName %><br>
    <%= f.text_field :ownerName %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :tv %><br>
    <%= f.check_box :tv %>
  </div>
  <div class="field">
    <%= f.label :laptop %><br>
    <%= f.check_box :laptop %>
  </div>
  <div class="field">
    <%= f.label :washingMachine %><br>
    <%= f.check_box :washingMachine %>
  </div>
  <div class="field">
    <%= f.label :refrigerator %><br>
    <%= f.check_box :refrigerator %>
  </div>
  <div class="field">
    <%= f.label :geyser %><br>
    <%= f.check_box :geyser %>
  </div>
  <div class="field">
    <%= f.label :ac %><br>
    <%= f.check_box :ac %>
  </div>
  <div class="field">
    <%= f.label :lights %><br>
    <%= f.check_box :lights %>
  </div>
  <div class="field">
    <%= f.label :invertor %><br>
    <%= f.check_box :invertor %>
  </div>
  <div class="field">
    <%= f.label :houseWiring %><br>
    <%= f.check_box :houseWiring %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
