<p id="notice"><%= notice %></p>

<h1>Listing Shopkeepers</h1>

<table>
  <thead>
    <tr>
      <th>Shopname</th>
      <th>Ownername</th>
      <th>Address</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopkeepers.each do |shopkeeper| %>
      <tr>
        <td><%= shopkeeper.shopName %></td>
        <td><%= shopkeeper.ownerName %></td>
        <td><%= shopkeeper.address %></td>
        <td><%= shopkeeper.contact %></td>
        <td><%= link_to 'Show', shopkeeper %></td>
        <td><%= link_to 'Edit', edit_shopkeeper_path(shopkeeper) %></td>
        <td><%= link_to 'Destroy', shopkeeper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopkeeper', new_shopkeeper_path %>
