<p id="notice"><%= notice %></p>

<h1>Listing Shopkeepers</h1>

<table>
  <thead>
    <tr>
      <th>S. No.
      <th>Shopname</th>
      <th>Ownername</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Tv</th>
      <th>Laptop</th>
      <th>Washingmachine</th>
      <th>Refrigerator</th>
      <th>Geyser</th>
      <th>Ac</th>
      <th>Lights</th>
      <th>Invertor</th>
      <th>Housewiring</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% @shopkeepers.each do |shopkeeper| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <td><%= shopkeeper.shopName %></td>
        <td><%= shopkeeper.ownerName %></td>
        <td><%= shopkeeper.address %></td>
        <td><%= shopkeeper.contact %></td>
        <td><%= shopkeeper.tv %></td>
        <td><%= shopkeeper.laptop %></td>
        <td><%= shopkeeper.washingMachine %></td>
        <td><%= shopkeeper.refrigerator %></td>
        <td><%= shopkeeper.geyser %></td>
        <td><%= shopkeeper.ac %></td>
        <td><%= shopkeeper.lights %></td>
        <td><%= shopkeeper.invertor %></td>
        <td><%= shopkeeper.houseWiring %></td>
        <td><%= link_to 'Show', shopkeeper %></td>
        <td><%= link_to 'Edit', edit_shopkeeper_path(shopkeeper) %></td>
        <td><%= link_to 'Destroy', shopkeeper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopkeeper', new_shopkeeper_path %>
