<p id="notice"><%= notice %></p>

<p>
  <strong>Shopname:</strong>
  <%= @shopkeeper.shopName %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @shopkeeper.ownerName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shopkeeper.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @shopkeeper.contact %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @shopkeeper.tv %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= @shopkeeper.laptop %>
</p>

<p>
  <strong>Washingmachine:</strong>
  <%= @shopkeeper.washingMachine %>
</p>

<p>
  <strong>Refrigerator:</strong>
  <%= @shopkeeper.refrigerator %>
</p>

<p>
  <strong>Geyser:</strong>
  <%= @shopkeeper.geyser %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @shopkeeper.ac %>
</p>

<p>
  <strong>Lights:</strong>
  <%= @shopkeeper.lights %>
</p>

<p>
  <strong>Invertor:</strong>
  <%= @shopkeeper.invertor %>
</p>

<p>
  <strong>Housewiring:</strong>
  <%= @shopkeeper.houseWiring %>
</p>

<%= link_to 'Edit', edit_shopkeeper_path(@shopkeeper) %> |
<%= link_to 'Back', shopkeepers_path %>
